.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#banner {
  background-image: url('./shared/banner.jpg');
  height: 120vh;
  background-size: cover;
}

#bannerrow {
  background-color: #FFFBF6;
}

#bannerrow h1 {
  font-family: 'Bangers', cursive;
  font-size: 90px;
  color:  #ECAB42;
}

#search {
  margin-top: 220px;
}

#search label {
  font-family: 'Bangers', cursive;
  font-size: 30px;
  color:  #ECAB42;
}

#search h1 {
  font-family: 'Bangers', cursive;
  font-size: 70px;
  color:  #ECAB42;
}

.contact h1 {
    font-family: 'Bangers', cursive;
    font-size: 70px;
    color:  #ECAB42;
}


#difform {
  margin-left: 650px;
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 0;
}


#typeform {
  margin-right: 650px;
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 0;
}

li {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 17px;
}

.nav-link {
  font-size: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: #FFFBF6;
}

.activebutton {
  color: #70D07B;
  background: white;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

.passivebutton {
  background: #70D07B;
  color: white;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}


#navbarbrand {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  color: #ECAB42;
  background: #FFFBF6;
}

.site-footer {
  font-family: 'Bangers', cursive;
  font-size: 25px;
  color: #ECAB42;
  background: #FFFBF6;
}

.card-header {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.modal-title {
  font-family: 'Bangers', cursive;
  font-size: 35px;
  color: #ECAB42;
  margin-bottom: 0;
  align-self: center;
}

.modal-header {
  padding: 10px !important;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-text {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}



